spring:
  application:
    name: finance-manager

  datasource:
    url: jdbc:postgresql://localhost:5432/finance_manager
    username: postgres
    password: postgres


  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
